data/new-default.opf.bak
doc/bar.tex
doc/example-cons.tex
doc/fact-meta-if-par.tex
doc/fact-meta.tex
doc/fact-text.txt-opf
doc/fib-par.tex
doc/fib-text.txt-opf
doc/fib.tex
doc/meta-intended-goal.tex
doc/new-default.tex
doc/new-meta-ops.tex
doc/oprs.out
doc/oprs.pdf
doc/semaphore.tex
doc/truck-demo-plus.tex
doc/truck-demo.tex
doc/wait.tex
foo.tex
config-ac.h
config.h
config.log
config.status
kill-mp
mp-oprs
opc
ope
oprs
oprs-cat
oprs-server
site.make
stamp-h
user-external.c
user-external.h
user-external_f.h
xoprs
c++-oprs-relocatable
c++-xoprs-relocatable
oprs-relocatable
xoprs-relocatable
doc/oprs-macros.tex
# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
*.ad.tmp
*.[oa]
*.ll
*.yy
*.aux
*.bbl
*.??dx
*.??nd
*.ilg
*.log
*.lof
*.lot
*.blg
*.toc
Makefile
configure
make.depend
\.#*
*.lex.[ch]
*.tab.[ch]
*.ad
*.ad.h
*.pc
*~
\#*#
TAGS
*.rej
*.orig
.depend
