# Lines that start with '#' are comments.
# exclude patterns (uncomment them if you want to use them):
# git-ls-files --others --exclude-from=.git/info/exclude
*-lex.c
*-lex.h
*-lex.l
*-parser.c
*-parser.h
*-parser.y
*.??dx
*.??dx
*.??nd
*.??nd
*.[oa]
*.[oa]
*.ad
*.ad.h
*.ad.tmp
*.aux
*.bbl
*.blg
*.c.backup
*.ilg
*.la
*.lex.[ch]
*.ll
*.lo
*.lof
*.log
*.lot
*.orig
*.pc
*.rej
*.tab.[ch]
*.tar.gz
*.toc
*.yy
*~
.depend
.deps/
.libs/
Makefile
Makefile.in
Makefile.in.old
TAGS
\#*#
\.#*
aclocal.m4
autom4te.cache
build/
config
config-ac.h
config-ac.h.in
config.h
config.h.in
config.log
config.status
configure
data/new-default.opf.bak
doc/bar.tex
doc/example-cons.tex
doc/fact-meta-if-par.tex
doc/fact-meta.tex
doc/fact-text.txt-opf
doc/fib-par.tex
doc/fib-text.txt-opf
doc/fib.tex
doc/meta-intended-goal.tex
doc/new-default.tex
doc/new-meta-ops.tex
doc/oprs-macros.tex
doc/oprs-macros.tex
doc/oprs.out
doc/oprs.pdf
doc/semaphore.tex
doc/truck-demo-plus.tex
doc/truck-demo.tex
doc/wait.tex
example-sw.c
foo.tex
gope
goprs
goprs-relocatable
goprs-user
kill-mp
libltdl
libtool
m4/argz.m4
m4/libtool.m4
m4/ltdl.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
make.depend
make.depend
mp-oprs
old
opc
ope
oprs
oprs-cat
oprs-relocatable
oprs-server
site.make
src/*-lex.h
src/gope-icon.h
src/goprs-icon.h
src/opc-parser.y
src/ope-parser.y
src/oprs-parser.y
src/oprs-server-parser.y
src/test.inc
stamp-h
stamp-h1
test*
user-external.c
user-external.h
user-external_f.h
util/lex-includer.c
xoprs
xoprs-relocatable
